<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="relative">
  <section class="title">
    <img class="header" src="assets/headers/media.jpg" alt="header" />
  </section>
  <div class="title-text">
    <section id="body">
      <h1 class="ml1">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">MEDIA</span>
          <span class="line line2"></span>
        </span>
      </h1>
    </section>
  </div>
</div>

<h2 class="header">
  View them on
  <a class="link" href="https://dribbble.com/winnllam" target="_blank">
    Dribbble
  </a>
</h2>
<br />

<div *ngIf="imageLinks.length != 0" class="mediaFrame">
  <div *ngFor="let link of imageLinks">
    <img class="mediaImg" src="{{ link }}" alt="{{ link }}" />
  </div>
</div>
