@import "src/styles";

.header {
  color: $violet-color;
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
}

.link {
  color: hotpink;
}

.mediaFrame {
  width: 80%;
  margin: 0 auto;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;

  @media screen and (max-width: 1000px) {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  @media screen and (max-width: 600px) {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

.mediaImg {
  border-radius: 10px;
  margin: 20px;
}
