@import "src/styles";

p {
  font-size: 17px;
}

a:hover {
  text-decoration: none;
}

/* FEATURE BOXES */
#featureFrame {
  height: 350px;
  padding: 10px;
  margin: 20px 20%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.featureBox {
  width: 300px;
  height: 310px;
  flex: 0 0 auto;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.featureBox::-webkit-scrollbar {
  display: none;
}

.card {
  display: block;
}

.card-img-top {
  height: 110px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  font-family: Staatliches;
  font-size: 30px;
  margin: 0;
}

/* TAGS */
#tagframe {
  text-align: center;
  margin: 0 5%;
}

.tagbox {
  text-align: center;
  margin: 0 10px;
  display: inline-block;
}

.tags {
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 15px;
}

.tags:hover {
  transition: 0.2s;
  background-color: grey;
  color: white;
}

/* PROJECT BOXES */
.projbox {
  width: 900px;
  margin: 60px auto;

  @media screen and (max-width: 980px) {
    width: 675px;
  }

  @media screen and (max-width: 700px) {
    width: 90%;
  }
}

.accordion .fa {
  margin-right: 0.5rem;
}

.btn {
  color: grey;
}

.btn:hover {
  color: black;
}

.card-body {
  padding: 20px;
}

.card-desc {
  width: 57%;
  height: auto;
  float: right;
  clear: right;

  @media screen and (max-width: 980px) {
    width: 100%;
    float: none;
  }
}

.projimg {
  width: 40%;
  height: auto;
  float: left;
  clear: left;
  margin-right: 20px;
  margin-bottom: 10px;

  @media screen and (max-width: 980px) {
    width: 100%;
    float: none;
  }
}

.pimages {
  width: 100%;
}

.linkproj {
  float: right;
}

@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}
