<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
  h1 {
    font-size: 70px;
  }
</style>

<div style="position: relative;">
  <section id="title">
    <img id="header" src="assets/headers/contact.jpg" alt="header" />
  </section>
  <div
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
  >
    <section id="body">
      <h1>CONTACT</h1>
    </section>
  </div>
</div>

<h2>Under Construction</h2>

<p style="padding: 50px;">
  Please reach out through my email, <i>winnieee.lam@mail.utoronto.ca</i> or
  through my <a href="https://www.linkedin.com/in/winnllam/">LinkedIn</a>.
  Thanks for stopping by!
</p>
