<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="relative">
  <section class="title">
    <img class="header" src="assets/headers/contact.jpg" alt="header" />
  </section>
  <div class="title-text">
    <section id="body">
      <h1 class="ml1">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">CONTACT</span>
          <span class="line line2"></span>
        </span>
      </h1>
    </section>
  </div>
</div>

<h2>Under Construction</h2>

<p style="padding: 50px;">
  Please reach out through my email, <i>winnieee.lam@mail.utoronto.ca</i> or
  through my <a href="https://www.linkedin.com/in/winnllam/">LinkedIn</a>.
  Thanks for stopping by!
</p>
