<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="relative">
  <section id="title">
    <img id="backdrop" src="assets/headers/title.jpg" alt="bg" />
  </section>
  <div class="title-text">
    <section id="body">
      <h4 class="ml1" style="margin: 0">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">Winnie Lam</span>
          <span class="line line2"></span>
        </span>
      </h4>
      <p id="position" class="an-2">{{ position }}</p>
    </section>
  </div>
</div>

<div class="content" id="welcome" style="text-align: center">
  <h2>Welcome</h2>
  <br />
  <p>
    <i>
      {{ slogan }}
    </i>
  </p>
</div>
<br />

<div data-aos="fade-up" id="about">
  <img
    id="me"
    [src]="'assets/self/win' + imageNum + '.jpg'"
    class="img-thumbnail img-fluid float-left"
    alt="Winnie"
    onContextMenu="return false;"
  />

  <div id="info">
    <h2>Hi, it's Winnie!</h2>
    <h3 style="text-align: center">(/ˈwɪniː/ WIN-ee)</h3>
    <br />
    <li>UofT Computer Science (Software Engineering) Student</li>
    <li>Visiting Platform Reliability Engineer Co-op @ Manulife</li>
    <li>First year CS Teaching Assistant</li>
    <li>Front-End Developer @ LIVE Competition</li>
    <li>Mentorship Program Coordinator & Student Ambassador</li>
    <br />
  </div>
</div>

<div class="container" data-aos="fade-up">
  <h2>Highlights</h2>
  <div class="columns">
    <div *ngFor="let hl of highlights" class="column">
      <div class="card">
        <header class="card-header">
          <p *ngIf="hl.url != ''" class="card-header-title">
            <a href="{{ hl.url }}">{{ hl.title }}</a>
          </p>
          <p *ngIf="hl.url == ''" class="card-header-title">
            {{ hl.title }}
          </p>
          <div class="card-header-icon">
            <span class="icon">
              <i class="fas {{ hl.icon }}"></i>
            </span>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            {{ hl.content }}
            <br />
            <time class="has-text-grey">{{ hl.date }}</time>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up">
  <h2>Winntography</h2>
  <div class="carousel">
    <carousel
      [height]="300"
      [cellWidth]="'100%'"
      [margin]="30"
      [loop]="true"
      [autoplay]="true"
      [autoplayInterval]="3000"
      [dots]="true"
      [borderRadius]="10"
      [arrowsOutside]="arrowsOutside"
      [objectFit]="'cover'"
      [images]="images"
    >
    </carousel>
  </div>
</div>
