@import "src/styles";

/* HEADER */
#title {
  height: 600px;
}

#header {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* RESUME INFO */
.resume {
  margin: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
}

#resume-format {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#resume-sections {
  width: 65%;
  margin: 70px;
}

/* SKILLS */
.skill-card {
  margin: auto;
}

#skills {
  margin: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  /*RESUME*/
  #skills {
    column-count: 3;
  }

  #resume-sections {
    width: 100%;
  }
}

/* width less than 650 px;*/
@media screen and (max-width: 700px) {
  /* RESUME */
  #resume-sections {
    margin: 5%;
  }

  #skills {
    column-count: 2;
  }
}

@media screen and (max-width: 550px) {
  /* RESUME */
  #skills {
    margin: auto;
  }
}

/* width less than 480 px */
@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}
