/* FONT IMPORTS */
@font-face {
  font-family: Comfortaa;
  src: url("/assets/fonts/Comfortaa/Comfortaa.ttf");
}

@font-face {
  font-family: OpenSansCondensed;
  src: url("/assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

@font-face {
  font-family: Staatliches;
  src: url("/assets/fonts/Staatliches/Staatliches-Regular.ttf");
}

/* TAGS */
html {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  font-family: OpenSansCondensed;
  font-size: 70px;
  text-align: center;
  margin-top: 60px;
  color: white;
}

h2 {
  font-family: Staatliches;
  font-size: 40px;
  color: #2b2b2b;
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.075), 7px 3px 0px rgba(0, 0, 0, 0.05);
  margin: 0 10px;
}

h3 {
  font-family: Courier;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-family: "Impact";
  font-size: 135px;
  color: white;
  text-align: center;
}

h5 {
  font-family: Comfortaa;
  font-size: 40px;
  color: #2b2b2b;
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.075), 7px 3px 0px rgba(0, 0, 0, 0.05);
  margin: 0 10px;
}

p {
  font-size: 17px;
  font-family: "Helvetica";
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* NAVIGATION */
.nav-inverse {
  background-color: #333;
}

.nav {
  z-index: 500;
  position: fixed;
  padding: 7px;
  top: 0;
  width: 100%;
  font-family: "Courier";
}

.nav-item {
  transition: background-color 0.5s;
}

.nav-link {
  font-size: 15px;
  color: white;
}

.nav-link:hover {
  color: #ccc;
}

.active {
  color: #ccc;
}
